extends ../node_modules/pug-bootstrap/_bootstrap
block body
  +navbar-static("NODEJS Webdefault","navbar","inverse")
    +nav_item("#","active") Home
    +nav_item("#") About
    +nav_item("#") Contact
  .container
    h3.text-center
      a(href="http://rajasegar.github.io/JADE-Bootstrap/") - Documentation Pug/JADE-Bootstrap -